<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SVC_HomeMaticNotification.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SVC_HomeMaticNotification.Properties.Settings>
            <setting name="NotifierConfigFile" serializeAs="String">
                <value>ConfigTemplate.xml</value>
            </setting>
            <setting name="HmcUrl" serializeAs="String">
                <value>http://homematicCCU2.halnet.selfip.org</value>
            </setting>
            <setting name="NotifierReconnectTimerSec" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ServiceEventSource" serializeAs="String">
                <value />
            </setting>
            <setting name="NotifierQueryTimerSec" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="NotifierQueryFullRequestSec" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="NotificationSmtpHost" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="NotificationSmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="NotificationSmtpCredUser" serializeAs="String">
                <value>user@gmail.com</value>
            </setting>
            <setting name="NotificationSmtpCredPw" serializeAs="String">
                <value>sprScrPsswrd!</value>
            </setting>
            <setting name="NotificationSmtpMailFrom" serializeAs="String">
                <value>user@gmail.com</value>
            </setting>
        </SVC_HomeMaticNotification.Properties.Settings>
    </userSettings>
</configuration>